@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

}



body{
    background-color: antiquewhite;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav,.menu{
    display: flex;
    justify-content: space-around;
    align-self: center;
    height: 10vh;
    padding: 20px 0;
    background-color: rgb(219, 198, 170);

}
.title{
    font-size: 2rem;}

.menu{
    gap:1rem;
    list-style: none;
    font-size: 1.5rem;
    
}

a{
    color:rgb(128, 53, 30);
    text-decoration: none;
}
a:hover{
    color:rgb(80, 52, 13);
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.profile_pic{
    height: auto;
    width: 40%;
}

.profile_sec{
    margin-top: 3rem;
    display: flex;
}


#profile_discription{
    margin-top: 8rem;
    margin-left: 5rem;
}

.profile_sec{
    background-color: rgb(177, 121, 101);
}

.menu_title{

    margin-left: 1.5rem;
    margin-top: 1.5rem;
}
.sub_title{
    margin-top: 3rem;
    font-size: 1.5rem;
}

.experience_container{

    justify-content: center;
    text-align: center;
    align-items: center;
}

#skill_1bar{
    display: flex;
    justify-content: space-around;

}

#skill_2bar{
    display: flex;
    justify-content: space-around;
}
.logo{
    height: 200px;
    width: 200px;
}
.video{
    width: 500px;
    height: 500px;
}
.discription{
    font-size: 1.2rem;
}
.aboutme_dis{
    padding-left: 50px;

}
.p_title{
    font-size: 2rem;
    padding-top: 1.5rem;
}

.project{
    justify-content: space-around;
}
.links{
    font-size: 1rem;
    text-decoration: none;
}

